.stocks{
margin-top: 156px;
}
.stocks-sold{
    margin-left: 20px;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;

    margin-bottom: 20px;
}
.stocks-sold-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stocks-sold-info > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sold-image{
    display: flex;
    width: 30vw;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.sold-p{
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
}
.sold-text{
    padding: 40px 100px;
    color: #ffffff;
    text-align: justify;
    margin-bottom: 100px;
    width: 800px;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    border-radius: 15px;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .stocks{
        margin-top: 140px;
    }
    .stocks-sold{
        font-size: 40px;
    }
    .stocks-sold-info{

    }
    .stocks-sold-info > div{
        width: 70vw;
    }
    .sold-image{
        width: 70vw;
    }

    .sold-p{
        font-size:40px;
    }
    .sold-text{
        padding: 40px 50px;
        font-size: 30px;
    }
}