.stocks{
margin-top: 106px;
}
.stocks-sold{
    margin-top: 10vh;
    justify-content: flex-start;
    margin-left: 5vw;
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.stocks-sold-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.stocks-sold-info > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sold-image{
    display: flex;
    width: 30vw;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    justify-content: center;
    align-items: flex-end;
    opacity: 0.7;
}
.sold-p{
    color: #ffffff;
}
.sold-text{
    color: #ffffff;
    text-align: justify;
    margin: 0 20px;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .stocks-sold-info{
        flex-wrap: wrap;
    }
    .stocks-sold-info > div{
        width: 70vw;
        margin-bottom: 30px;
    }
    .sold-image{
        width: 70vw;
    }

    .sold-p{
        font-size: 23px;
    }
}