@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-page{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url('/src/images/home-page-horizontal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.home-page-text{
  margin-top: 150px;
  font-size: 40px;
  color: #fff;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  font-weight: 600;
  background: rgba(0,0,0,0.2);
  border-radius: 15px;
  padding: 10px;
  letter-spacing: 2px;
}

.end{
  font-family: 'Roboto', sans-serif;
  border-top:2px white solid ;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(220.16deg, #354a67 -8%, #151e27 108%);
  width: 100vw;
  margin: 0;

}
.end > div{
  width: 33vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin: 15px 0 15px 0;
  padding: 0;
  color: rgb(201, 201, 201);
}
.end > div > h1{
  margin: 0;
  padding: 0;
}
.end a {
  color: rgb(201, 201, 201);
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .home-page{
    background-image: url('/src/images/home-page-vertical.jpg');
    height: 95vh;
  }
  .home-page-text{
    margin-top: 250px;
    font-size: 50px;
    text-align: center;
  }
  .end{
    flex-direction: column;

  }
  .end div{
    width: 100vw;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .end h1{
    font-size: 30px;
  }
}
